.container{
    /* background-color: black; */
    text-align: center;
    padding: 0;
    margin: 0;
}



    

.search{
    padding-left: 575px;
    margin: 0;
}



body{
    background-color: black;
    /* background-color: blue; */

}
.search>input{
    /* position: absolute; */
    width: 30vw;
    height: 33px;
    border-radius: 2px;
    margin: 0 16px 0 56px;
    padding: 0 12px;
    padding-left: 55px;

}
.search{
    width: 100%;
    min-height: 100vh;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.search-bar{
    width: 100%;
    max-width: 700px;   
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
}
.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: gray;
}
    

    
  


.logo{
    /* justify-content: center; */
    display: flex;
    justify-content: center;
}
.container2{
    color: white;
    padding-left: 375px;
}
.container2>p{
    padding-left: 45px;
}
.span{
    /* color: white; */
    display: flex;
    justify-content: center;
    margin: 0;
    padding-left: 35px;
    color: grey;
}
.butt{
    display: flex;
    justify-content: center;
    border-radius: 50px;
     
    
}
.butt>button{
    background-color: blue;
    display: flex;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}